.elementor-250 .elementor-element.elementor-element-1f3118df{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--margin-top:25px;--margin-bottom:33px;--margin-left:00px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:25px;--padding-right:25px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-250 .elementor-element.elementor-element-2177d488 img{width:198px;}.elementor-250 .elementor-element.elementor-element-76d7b498{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:nowrap;--margin-top:0px;--margin-bottom:0px;--margin-left:25px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-250 .elementor-element.elementor-element-1db46ae3 .elementor-button{background-color:#3B334900;font-family:"industry", Sans-serif;font-size:21px;font-weight:700;text-transform:uppercase;border-style:solid;border-width:0px 0px 3px 0px;border-color:#7157A400;padding:15px 25px 10px 25px;}.elementor-250 .elementor-element.elementor-element-1db46ae3 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:0px 01px 0px 0px;border-color:var( --e-global-color-text );border-radius:0px 0px 0px 0px;}.elementor-250 .elementor-element.elementor-element-1db46ae3 .elementor-button:hover, .elementor-250 .elementor-element.elementor-element-1db46ae3 .elementor-button:focus{border-color:#FFFFFF;}.elementor-250 .elementor-element.elementor-element-66e90dbb .elementor-button{background-color:#3B334900;font-family:"industry", Sans-serif;font-size:21px;font-weight:700;text-transform:uppercase;border-style:solid;border-width:0px 0px 3px 0px;border-color:#7157A400;padding:15px 25px 10px 25px;}.elementor-250 .elementor-element.elementor-element-66e90dbb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:0px 01px 0px 0px;border-color:var( --e-global-color-text );border-radius:0px 0px 0px 0px;}.elementor-250 .elementor-element.elementor-element-66e90dbb .elementor-button:hover, .elementor-250 .elementor-element.elementor-element-66e90dbb .elementor-button:focus{border-color:var( --e-global-color-5017f6b );}.elementor-250 .elementor-element.elementor-element-1390028d .elementor-button{background-color:#3B334900;font-family:"industry", Sans-serif;font-size:21px;font-weight:700;text-transform:uppercase;border-style:solid;border-width:0px 0px 3px 0px;border-color:#7157A400;padding:15px 25px 10px 25px;}.elementor-250 .elementor-element.elementor-element-1390028d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:none;border-radius:0px 0px 0px 0px;}.elementor-250 .elementor-element.elementor-element-1390028d .elementor-button:hover, .elementor-250 .elementor-element.elementor-element-1390028d .elementor-button:focus{border-color:#BE3479;}.elementor-250 .elementor-element.elementor-element-665299df .elementor-button{background-color:#3B334900;font-family:"industry", Sans-serif;font-size:21px;font-weight:700;text-transform:uppercase;border-style:solid;border-width:0px 0px 3px 0px;border-color:#7157A400;padding:15px 25px 10px 25px;}.elementor-250 .elementor-element.elementor-element-665299df > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;border-style:solid;border-width:0px 0px 0px 1px;border-color:var( --e-global-color-text );border-radius:0px 0px 0px 0px;}.elementor-250 .elementor-element.elementor-element-665299df .elementor-button:hover, .elementor-250 .elementor-element.elementor-element-665299df .elementor-button:focus{border-color:#FAAF40;}.elementor-250:not(.elementor-motion-effects-element-type-background), .elementor-250 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#262131;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-250 .elementor-element.elementor-element-2177d488 img{width:150px;}.elementor-250 .elementor-element.elementor-element-76d7b498{--margin-top:0px;--margin-bottom:0px;--margin-left:25px;--margin-right:0px;}.elementor-250 .elementor-element.elementor-element-1db46ae3 .elementor-button{font-size:15px;}.elementor-250 .elementor-element.elementor-element-66e90dbb .elementor-button{font-size:15px;}.elementor-250 .elementor-element.elementor-element-1390028d .elementor-button{font-size:15px;}.elementor-250 .elementor-element.elementor-element-665299df .elementor-button{font-size:15px;}}@media(min-width:768px){.elementor-250 .elementor-element.elementor-element-1f3118df{--content-width:1200px;}}@media(max-width:767px){.elementor-250 .elementor-element.elementor-element-1f3118df{--justify-content:flex-start;--align-items:flex-start;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--flex-wrap:nowrap;--margin-top:5px;--margin-bottom:5px;--margin-left:10px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-250 .elementor-element.elementor-element-2177d488{width:var( --container-widget-width, 15% );max-width:15%;--container-widget-width:15%;--container-widget-flex-grow:0;text-align:left;}.elementor-250 .elementor-element.elementor-element-2177d488 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-250 .elementor-element.elementor-element-2177d488.elementor-element{--align-self:flex-start;}.elementor-250 .elementor-element.elementor-element-2177d488 img{width:100%;}.elementor-250 .elementor-element.elementor-element-76d7b498{--content-width:100%;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:10px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-250 .elementor-element.elementor-element-1db46ae3 .elementor-button{font-size:12px;padding:5px 5px 5px 5px;}.elementor-250 .elementor-element.elementor-element-66e90dbb.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-250 .elementor-element.elementor-element-66e90dbb .elementor-button{font-size:12px;padding:5px 5px 5px 5px;}.elementor-250 .elementor-element.elementor-element-1390028d.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-250 .elementor-element.elementor-element-1390028d .elementor-button{font-size:12px;padding:5px 5px 5px 5px;}.elementor-250 .elementor-element.elementor-element-665299df.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-250 .elementor-element.elementor-element-665299df .elementor-button{font-size:12px;padding:5px 5px 5px 5px;}}/* Start custom CSS */#footer_form input{
    margin-bottom: 20px !important;
}
.elementor-field-group.elementor-field-type-submit{
    width:200px;
    margin:0 auto;
}
#footer_form button{
    border: 3px solid white;
    width: 200px !important;
    
}
#footer_form button:hover{
    background-color:#1272C8;
}
#our_story{
    overflow-x: clip;
    overflow-y: visible;
}
.class_title_text{
    font-family: 'Poppins' !important;
}
.footer_text p{
    font-size:15px !important;
}
@media (min-width:1024px){
	#lottieloop{
		position: absolute;
		width: 720px;
		top: -2%;
		right: calc(50% - 725px);
	}
}
@media (min-width:767px) and (max-width:1024px){
	#lottieloop{
		position: absolute;
		width: 700px;
		top: 15%;
		right: calc(0% - 320px);
	}
}
@media (max-width:767px){
	#lottieloop{
		position: absolute;
		width: 500px;
		top: 95%;
		right: calc(30% - 250px);
	}
}
@media (min-width:1024px){
    p, ul, li{
        font-size:18px;
    }

	.upcoming_container{
	    column-gap:10px;
	}
	.class_title_text p,.class_title_text ul, .class_title_text li{
        font-size:18px;
    }
}

.speaker_block {
    position: relative;
    width: 250px;
    padding: 0;
    background-image: 
    url('/wp-content/uploads/2024/05/image_bottom_02.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 254px
}
.speaker_block img{
    border-top: solid 5px #9C2B2B;
}
/*-----------------*/
.lity-close, .lity-close:hover{
	border-radius: 40px;
	background-color: #fff;
	padding: 10px 12px!important;
	line-height: 15px;
	font-weight: bold;
	text-shadow: none;
	border: none;
	margin: 10px;
	font-size: 20px;
	color: #c36 !important;
}
.descript_popup{
	background-color:#262131;
	padding:25px;
	border: solid 3px #008CFF;
	border-radius: 10px;
}
.lity_style_02{
    	border: solid 3px #FAAF40;
}
.lity_style_03{
    	border: solid 3px #BE3479;
}
.descript_popup p{
    
    font-size: 16px;
	padding:0 15px 15px 15px;
	margin:0 auto;
	max-width: 700px;
	color: #ffffff;
	line-height: 1.7em;
}
.descript_popup ul{
	margin:0 auto;
	max-width: 680px;
	color: #fff;
}
.litytitle{
	padding:15px;
	max-width: 700px;
	text-align:left;
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
	
	font-style: italic;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

@media (min-width: 768px){
	.litytitle{
		width:700px;
	}
}


li{
    margin-left: -10px;
    margin-bottom: 1.3em;
}

@media (min-width:767px){
.offerings_blocks h3{
    margin-left: 30px;
}
.offerings_blocks h4{
    font-size:20px;
    text-align:center;
}    
}
@media (min-width:767px) and (max-width:1024px){
 .team_block h6{
        font-size:16px !important;
        line-height:1.3em;
    }
    .team_block_title{
        font-size:14px !important;
    }
    .team_block{
        padding:5px;
    }
}
@media (max-width:767px){
     .offerings_blocks h3{
    margin-left: 30px;
}    
    .team_block{
        padding:10px;
    }
    .team_block h6{
        font-size:16px !important;
        line-height:1.3em;
    }
    .team_block_title{
        font-size:14px !important;
    }
}/* End custom CSS */